[Desktop Entry]
Type=Application
Version=1.0
Name=Kazam
GenericName=Gravador de tela
Comment=Gravacao de tela, webcam e screenshots (Kazam2)
Exec={{ desktop_apps_kazam2_venv }}/bin/kazam
Icon={{ desktop_apps_kazam2_icon }}
Terminal=false
StartupNotify=true
Categories=AudioVideo;Recorder;GTK;
Keywords=screencast;screenshot;gravar;tela;record;
